<header class="header-container">
  <div class="header-content">
     <a href="/"><img src="assets/images/logo.png" alt="MEETo Logo" class="logo"></a>
     <app-navbar></app-navbar>
     <div class="auth-buttons">
        <ng-container *ngIf="isLoggedIn; else loginButton">
           <button class="auth-button" (click)="logout()">Se déconnecter</button>
        </ng-container>
        <ng-template #loginButton>
           <a href="/login">
           <button class="auth-button">Se connecter</button>
           </a>
        </ng-template>
     </div>
  </div>
</header>