.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(33, 33, 33, 0.8);
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 65px;
  margin-right: 20px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid;
  border-color: #f72806;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transition: background-color 0.3s;
  z-index: 1;
  position: relative;
}

.auth-button:hover {
  background-color: #f72806;
  color: white;
}
