
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
}

.form-section, .blob-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  padding: 20px;
  padding-right: 60px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1),
              inset 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.blob {
  position: relative;
  width: 500px;
  height: 500px;
}

.blob:nth-child(2){
  filter: blur(50px);
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
}

.form-control {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

textarea.form-control.content-textarea {
  width: 100%;
  max-width: 500px;
  resize: none;
}

.is-valid {
  border-color: #28a745;
}
.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.text-danger {
  color: #dc3545;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-outline-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 500px;
}

form {
  margin-bottom: 20px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.title{
  color: #f72806;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}